<ion-header>
  <ion-navbar>
    <ion-title>
      Tri events
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <h1>Triathlon.org events</h1>
  <!-- <h2>Example</h2>
  <ul>
    <li *ngFor="let example of examples">{{ example }}</li>
  </ul> -->

  <h2>Events</h2>
  <p>Total: <span style="color: darkblue;">{{ total }}</span>.</p>
  <ul>
    <li *ngFor="let event of events">{{ event.event_id }}</li>
  </ul>
  <!-- <pre>events: {{ events | json }}</pre> -->
</ion-content>
